
<div class="">
  <%= image_tag("welcome_text.png", class: "welcome_text") %>
</div>
<%= stylesheet_link_tag "character" %>

<%= link_to image_tag('crew_text.png', class: "characters_text_crew"), controller: 'crews' %>

<%= link_to image_tag('character_new_text.png', class: "characters_text_new_character"), new_character_path %>

<%= link_to image_tag('crew_new_text.png', class: "characters_text_new_crew"), new_crew_path %>

<%= image_tag("character_index_image.png", class: "index_image") %>

<div class="index_box">
  <table>
    <tr>
      <th>Name</th>
      <th>Power</th>
      <th>Crew</th>
      <th colspan="5"></th>
      <th></th>
    </tr>

    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.power %></td>
        <td><%= character.crew.name %></td>
        <td><%= link_to 'Show', character_path(character) %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character_path(character),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
