<%= stylesheet_link_tag "global" %>

<h1>Welcome to the One Piece Database</h1>

<%= link_to 'Crews', controller: 'crews' %>

<%= link_to 'New Character', new_character_path %>

<%= link_to 'New Crew', new_crew_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Power</th>
    <th>Crew ID</th>
    <th colspan="5"></th>
    <th></th>
  </tr>

  <% @characters.each do |character| %>
    <tr>
      <td><%= character.name %></td>
      <td><%= character.power %></td>
      <td><%= character.crew_id %></td>
      <td><%= link_to 'Show', character_path(character) %></td>
      <td><%= link_to 'Edit', edit_character_path(character) %></td>
      <td><%= link_to 'Destroy', character_path(character),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
