<%= image_tag("character_show_text.png", class: "show_character_text") %>

<%= image_tag("character_show_image.png", class: "show_image") %>

<div class="show_box">
  <p>
    <strong>Name:</strong>
    <%= @character.name %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= @character.power %>
  </p>

  <p>
    <strong>Crew:</strong>
    <%= @character.crew.name %>
  </p>
</div>


<%= link_to image_tag('edit_text.png', class: "show_edit_text"), edit_character_path(@character) %> |
<%= link_to image_tag('back_text.png', class: "show_return_text"), characters_path %>
