<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Power:</strong>
  <%= @character.power %>
</p>

<p>
  <strong>Crew ID:</strong>
  <%= @character.crew_id %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
