<%= image_tag("character_show_text.png", class: "show_text") %>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Power:</strong>
  <%= @character.power %>
</p>

<p>
  <strong>Crew:</strong>
  <%= @character.crew.name %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>

<%= image_tag("character_show_image.png", class: "show_image") %>
